In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\LIM TZE TA\VSCodeProjects\ML_Assignment\Classification\online_shoppers_intention.csv")

# Display dataset in a table
df.copy()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [3]:
# Check for duplicates
df.duplicated().sum()

np.int64(125)

In [4]:
# Drop duplicated rows
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [5]:
df.isnull().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [6]:
# Describe dataset in terms of statistical terms
df.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000
mean,2.338878,81.646331,0.508726,34.825454,32.045637,1206.982457,0.020370,0.041466,5.949574,0.061942,2.124211,2.357804,3.153298,4.073904
std,3.330436,177.491845,1.275617,141.424807,44.593649,1919.601400,0.045255,0.046163,18.653671,0.199666,0.906823,1.710114,2.402340,4.016654
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,8.000000,193.000000,0.000000,0.014231,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,9.000000,0.000000,0.000000,18.000000,608.942857,0.002899,0.025000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,94.700000,0.000000,0.000000,38.000000,1477.154762,0.016667,0.048529,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000

In [7]:
# Double-check all unique values in the 'Month' column

unique_values = df['Month'].unique()
print(unique_values)

# Double-check all unique values in the 'Visitor' column

unique_values = df['VisitorType'].unique()
print(unique_values)

['Feb' 'Mar' 'May' 'Oct' 'June' 'Jul' 'Aug' 'Nov' 'Sep' 'Dec']
['Returning_Visitor' 'New_Visitor' 'Other']

In [8]:
# Map the months and change the values from object to int

month_map = {
    'Feb': 1, 'Mar': 2, 'May': 3, 'June': 4, 'Jul': 5, 
    'Aug': 6, 'Sep': 7, 'Oct': 8, 'Nov': 9, 'Dec': 10,
}

df['Month'] = df['Month'].map(month_map)

# Map the visitor type and change the values from object to int

visitor_map = {
    'Returning_Visitor': 1, 'New_Visitor': 2, 'Other': 3
}

df['VisitorType'] = df['VisitorType'].map(visitor_map)

In [9]:
import numpy as np

# Round off some columns to less decimal places
df['ProductRelated_Duration'] = np.ceil(df['ProductRelated_Duration'] * 100) / 100
df['PageValues'] = np.ceil(df['PageValues'] * 10000) / 10000
df['Informational_Duration'] = np.ceil(df['Informational_Duration'] * 10000) / 10000
df['Administrative_Duration'] = np.ceil(df['Administrative_Duration'] * 10000) / 10000
df['ExitRates'] = np.ceil(df['ExitRates'] * 10000) / 10000
df['BounceRates'] = np.ceil(df['BounceRates'] * 10000) / 10000

In [10]:
df.copy()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.00,0.2000,0.2000,0.0000,0.0,1,1,1,1,1,1,False,False
1,0,0.0,0,0.0,2,64.00,0.0000,0.1000,0.0000,0.0,1,2,2,1,2,1,False,False
2,0,0.0,0,0.0,1,0.00,0.2000,0.2000,0.0000,0.0,1,4,1,9,3,1,False,False
3,0,0.0,0,0.0,2,2.67,0.0500,0.1401,0.0000,0.0,1,3,2,2,4,1,False,False
4,0,0.0,0,0.0,10,627.50,0.0200,0.0500,0.0000,0.0,1,3,3,1,4,1,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.80,0.0072,0.0291,12.2418,0.0,10,4,6,1,1,1,True,False
12326,0,0.0,0,0.0,5,465.75,0.0000,0.0214,0.0000,0.0,9,3,2,1,8,1,True,False
12327,0,0.0,0,0.0,6,184.25,0.0834,0.0867,0.0000,0.0,9,3,2,1,13,1,True,False
12328,4,75.0,0,0.0,15,346.00,0.0000,0.0211,0.0000,0.0,9,2,2,3,11,1,False,False
12329,0,0.0,0,0.0,3,21.25,0.0000,0.0667,0.0000,0.0,9,3,2,1,2,2,True,False

In [ ]:
df.isnull().sum()

# # Save changes to another new CSV file
# df.to_csv('online_shoppers_intention_cleaned2.csv', index=False)

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [12]:
# Save changes to another new CSV file
df.to_csv('online_shoppers_intention_cleaned.csv', index=False)