In [6]:
import pandas as pd

# Load raw CSV dataset from HuggingFace
raw_csv_data=pd.read_csv("hf://datasets/jienweng/housing-prices-malaysia-2025/malaysia_house_price_data_2025.csv")
df=raw_csv_data.copy()

# Display dataset in table
df

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,SCIENTEX SUNGAI DUA,Tasek Gelugor,Penang,Freehold,Terrace House,331800.0,304.0,593
1,BANDAR PUTRA,Kulai,Johor,Freehold,"Cluster House, Terrace House",590900.0,322.0,519
2,TAMAN LAGENDA TROPIKA TAPAH,Chenderiang,Perak,Freehold,Terrace House,229954.0,130.0,414
3,SCIENTEX JASIN MUTIARA,Bemban,Melaka,Freehold,Terrace House,255600.0,218.0,391
4,TAMAN LAGENDA AMAN,Tapah,Perak,Leasehold,Terrace House,219300.0,168.0,363
...,...,...,...,...,...,...,...,...
1995,TAMAN ANDALAS JAYA,Klang,Selangor,Freehold,Terrace House,655000.0,410.0,10
1996,TAMAN ANJUNG BERCHAM MEGAH,Ipoh,Perak,Freehold,Terrace House,337500.0,224.0,10
1997,TAMAN PUNCAK JELAPANG MAJU,Ipoh,Perak,Leasehold,"Terrace House, Semi D",290000.0,195.0,10
1998,TAMAN TIONG UNG SIEW,Sibu,Sarawak,Leasehold,Terrace House,480000.0,272.0,10
1999,TAMAN DESA RISHAH INDAH,Ipoh,Perak,Leasehold,Terrace House,449000.0,261.0,10

In [ ]:
df.to_csv("malaysia_house_price_data_2025.csv", index=False)

In [ ]:
# Reload downloaded CSV file

raw_csv_data=pd.read_csv("malaysia_house_price_data_2025.csv")
df=raw_csv_data.copy()

# Redisplay dataset in table
df

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,SCIENTEX SUNGAI DUA,Tasek Gelugor,Penang,Freehold,Terrace House,331800.0,304.0,593
1,BANDAR PUTRA,Kulai,Johor,Freehold,"Cluster House, Terrace House",590900.0,322.0,519
2,TAMAN LAGENDA TROPIKA TAPAH,Chenderiang,Perak,Freehold,Terrace House,229954.0,130.0,414
3,SCIENTEX JASIN MUTIARA,Bemban,Melaka,Freehold,Terrace House,255600.0,218.0,391
4,TAMAN LAGENDA AMAN,Tapah,Perak,Leasehold,Terrace House,219300.0,168.0,363
...,...,...,...,...,...,...,...,...
1995,TAMAN ANDALAS JAYA,Klang,Selangor,Freehold,Terrace House,655000.0,410.0,10
1996,TAMAN ANJUNG BERCHAM MEGAH,Ipoh,Perak,Freehold,Terrace House,337500.0,224.0,10
1997,TAMAN PUNCAK JELAPANG MAJU,Ipoh,Perak,Leasehold,"Terrace House, Semi D",290000.0,195.0,10
1998,TAMAN TIONG UNG SIEW,Sibu,Sarawak,Leasehold,Terrace House,480000.0,272.0,10
1999,TAMAN DESA RISHAH INDAH,Ipoh,Perak,Leasehold,Terrace House,449000.0,261.0,10

In [11]:
# Check for duplicates
df.duplicated().sum()

np.int64(0)

In [12]:
# Check each column's datatype and non-null count (the count of the cell not being empty)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Township      2000 non-null   object
 1   Area          2000 non-null   object
 2   State         2000 non-null   object
 3   Tenure        2000 non-null   object
 4   Type          2000 non-null   object
 5   Median_Price  2000 non-null   float64
 6   Median_PSF    2000 non-null   float64
 7   Transactions  2000 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 125.1+ KB

In [ ]:
# Double check for null values
df.isnull().sum()

Township        0
Area            0
State           0
Tenure          0
Type            0
Median_Price    0
Median_PSF      0
Transactions    0
dtype: int64